@font-face {
  font-family: 'Lato-light', serif;
  src: url("../font/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-bold';
  src: url("../font/Lato-Bold.ttf");
}
@font-face {
  font-family: 'Lato-regular';
  src: url("../font/Lato-Regular_0.ttf");
}
@font-face {
  font-family: 'Lato-bold';
  src: url("../font/Lato-Bold.ttf");
}